@import '~bootstrap/scss/bootstrap';


//general rules
a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

//layout
.navbar {
    background-color: #FF6D00;

    .logo-sm {
        display: block;
    }

    .logo {
        display: none;
    }

    @media  screen and (min-width: 556px) {
        .logo-sm {
            display: none;
        }
    
        .logo {
            display: block;
        }
    }
}

//welcome-page
.rest-img {
    max-width: 200px;
    overflow: hidden;
    border-radius: 999px;
    object-fit: cover;
    object-position: center;
}


.welcome .card {
    width: 300px;
    height: 200px;
    font-size: 2rem;
    background-color: #FF6D00;
    color: white;

    .text-high {
        font-weight: 700;
    }

    &:hover {
        background-color: #FF8500;
        color: #5A189A;
    }

}


//register page
.required-input::after {
    content: ' *';
    display: inline;
    color: red;
}

//index-page
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    img {
        aspect-ratio: 18/9;
        object-fit: cover;
        object-position: center;
    }

    .card{

        &:first-child{
            height: 100%;

            &:hover{
                cursor: pointer;
                background-color: #5A189A;
                color: white;
            }
        }


        // &:hover {
        //     cursor: pointer;
        //     background-color: #5A189A;
        //     color: white;
        // }
    }
}